html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #252525;
    color: #ff9a00;
}
main{
    padding: 0 20px;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}
footer{
    flex: 0 0 auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}